<%= form_for(@subscription, as: :subscription, url: create_subscription_path) do |f| %>
  
  <div class="form-group">
    <%= f.label :newsletter %>
    <%= f.select :newsletter_id, options_from_collection_for_select(Newsletter.all, :id, :subject), {},
                 { class: "form-control #{bootstrap_error_class(@subscription, :newsletter)}"} %>
    <%= bootstrap_errors_list(@subscription, :newsletter) %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", class: "form-control #{bootstrap_error_class(@subscription, :name)}" %>
    <%= bootstrap_errors_list(@subscription, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, autocomplete: "email", class: "form-control #{bootstrap_error_class(@subscription, :email)}" %>
    <%= bootstrap_errors_list(@subscription, :email) %>
  </div>

  <div class="form-group">
    <%= button_tag data: {disable_with: "Wait..."}, class: "btn btn-primary btn-lg btn-block", tabindex: "3" do %>
      Register
    <% end %>
  </div>

<% end %>
