<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">Newsletter</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>